/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-tv-portfolio-project-blocks {
	border: 2px solid #333333;
	padding: 20px;
	margin-bottom: 20px;
	background-color: #f0f0f0;

	.body{
		display: flex;
		flex-direction: column;
		gap: 15px;

		.title, .description, .link{
			padding: 10px;
			border: 1px solid #93f1ff;
			background-color: #ffffff;

		}

	}

	.projectPreview img{
		max-width: 100%;
		height: auto;
	}
	p{
		margin-bottom: -20px;
	}

	.align-right {
		text-align: right;
	}
	.align-left {
		text-align: left;
	}
}

